<div class="vh-100 d-flex">
  <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
    <div class="card shadow-sm w-75 p-4">
      <div class="text-center mb-4">
        <i class="fas fa-crow fa-2x" style="color: #709085;"></i>
        <h2 class="card-title fw-bold mt-2">Iniciar sesión</h2>
      </div>

      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="identificator" class="form-label">
            Nombre de usuario o correo electrónico
          </label>
          <div class="input-group">
            <input
            type="text"
            id="identificator"
            name="identificator"
            class="form-control form-control-lg"
            required
            [(ngModel)]="identificator"
          />
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <input
              [type]="showPass ? 'text' : 'password'"
              id="password"
              name="password"
              class="form-control form-control-lg" 
              required
              [(ngModel)]="password"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="showPass = !showPass"
              [attr.aria-label]="showPass ? 'Ocultar contraseña' : 'Mostrar contraseña'"
            >
              <i class="bi" [ngClass]="showPass ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
        </div>


        <div class="d-grid mb-3">
          <button class="btn btn-info btn-lg" type="submit">
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-12 col-md-6 d-none d-md-flex align-items-center justify-content-center bg-light">
    <img
      src="/zz.png"
      alt="Zig Zag Logo"
      class="img-fluid"
      style="max-height: 300px;"
    />
  </div>
</div>

<!-- Toasts -->
<div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success text-white">
      <label class="me-auto">Información</label>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ toastMessage }}
    </div>
  </div>

  <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger text-white">
      <label class="me-auto">Error</label>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ toastMessage }}
    </div>
  </div>
</div>
