

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-autocomplete-panel {
  z-index: 2000 !important;
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.cdk-overlay-pane {
  z-index: 2000 !important;
}

